/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/vuex-orm-models

/resources/js/controllers/*
!/resources/js/controllers/*.gitkeep
/resources/js/models/*
!/resources/js/models/*.gitkeep
/resources/js/router/*
!/resources/js/router/*.gitkeep
/resources/js/store/*
!/resources/js/store/*.gitkeep
/resources/js/views/*
!/resources/js/views/*.gitkeep
